.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 32px;
    margin: 16px;
}

.color_logo {
    color: white;
}

.site_layout_background {
    background: #fff;
    padding: 0;
}

.site_layout_background_extend {
    margin: 24px 16px;
    padding: 24px;
    height: calc(100vh - 112px);
    width: auto;
    overflow: auto;
    background-color: white;
}

.ant-layout-sider {
    height: 100vh;
}
